<nav>
  <div>
    <a routerLink="/landing" routerLinkActive="active" i18n>Landing</a>
    <a routerLink="/buildings" routerLinkActive="active" i18n>Buildings</a>
    <a routerLink="/viewer" routerLinkActive="active" i18n>Viewer</a>
    <a routerLink="/contact" routerLinkActive="active" i18n>Contact</a>
  </div>
  <button (click)="toggleTheme()">
    <span *ngIf="isDarkTheme()" class="material-icons">dark_mode</span>
    <span *ngIf="!isDarkTheme()" class="material-icons">light_mode</span>
  </button>
</nav>

<router-outlet></router-outlet>
